<%- include('../partials/header', { showBanner: false }) %>
<%- include('../partials/navbar') %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <form action="/boardgames/<%= game._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input type="text" class="form-control" id="title" name="title" value="<%= game.title %>" required>
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea class="form-control" id="description" name="description" rows="3" required><%= game.description %></textarea>
  </div>
  <div class="mb-3">
    <label for="image" class="form-label">Board Game Image</label>
    <input
      type="file"
      class="form-control"
      id="image"
      name="image"
      accept="image/*"
    />
  </div>
  <div class="mb-3">
    <label for="playerCountMin">Minimum Players:</label>
    <input type="number" id="playerCountMin" name="playerCountMin" value="<%= game.playerCountMin %>" required>
  </div>
  <div class="mb-3">
    <label for="playerCountMax">Maximum Players:</label>
    <input type="number" id="playerCountMax" name="playerCountMax" value="<%= game.playerCountMax %>" required>
  </div>
  <div class="mb-3">
    <label for="genres">Genres (comma-separated):</label>
    <input type="text" id="genres" name="genres" value="<%= game.genres.join(', ') %>" required>
  </div>
  <div class="mb-3">
    <label for="mechanics">Mechanics (comma-separated):</label>
    <input type="text" id="mechanics" name="mechanics" value="<%= game.mechanics.join(', ') %>" required>
  </div>
  <div class="mb-3">
    <label for="ownershipStatus">Collection:</label>
    <select id="ownershipStatus" name="ownershipStatus" class="form-control">
      <option value="Personal Collection" <%= game.ownershipStatus === "Personal Collection" ? "selected" : "" %>>Personal Collection</option>
      <option value="Friends Collection" <%= game.ownershipStatus === "Friends Collection" ? "selected" : "" %>>Friends Collection</option>
      <option value="Group Collection" <%= game.ownershipStatus === "Group Collection" ? "selected" : "" %>>Group Collection</option>
      <option value="Online" <%= game.ownershipStatus === "Online" ? "selected" : "" %>>Online</option>
    </select>    
  </div>
  

  <button type="submit" class="submit-btn">Update Game</button>
</form>
</div>
</div>
</div>

<%- include('../partials/footer') %>
