<%- include('../partials/header') %>

<% if (boardGames.length > 0) { %>
  <div class="card-container">
    <% boardGames.forEach(game => { %>
      <div class="card">
        <img src="/uploads/<%= game.image %>" alt="<%= game.title %> Image">
        <h3><%= game.title %></h3>
      </div>
    <% }); %>
  </div>
<% } else { %>
  <p>No board games available.</p>
<% } %>

<%- include('../partials/footer') %>
