<%- include('../partials/header', { title: "Board Game Collection", showBanner: false }) %>

<%- include('../partials/navbar') %>

<form action="/boardgames" method="GET">
  <label for="playerCount">Player Count:</label>
  <input type="number" id="playerCount" name="playerCount">

  <!-- <label for="genre">Genre:</label>
  <input type="text" id="genre" name="genre"> -->

  <label for="mechanics">Mechanics:</label>
  <input type="text" id="mechanics" name="genre">

  <button type="submit">Filter</button>
</form>

<div class="card-container">
  <% if (boardGames.length > 0) { %>
    <% boardGames.forEach(game => { %>
      <div class="card">
        <a href="/boardgames/<%= game._id %>">
          <div class="card-image">
            <img src="/uploads/<%= game.image %>" alt="<%= game.title %> Image">
            <div class="image-title">
              <h3><%= game.title %></h3>
            </div>
          </div>
        </a>
      </div>
    <% }); %>
  </div>
  <% } else { %>
    <p>No board games available.</p>
  <% } %>

  <%- include('../partials/footer') %>